.bg__imgYL{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    z-index: 10;
      
    
}
.bg__imgVOL{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    pointer-events: none;
    z-index: 9;
    
}
.bg__imgAB{
    width: 100%;
    height: auto;
    display: block;
    user-select: none;
    max-width: 100%; 
}
.coursel{
    background-image: url(../img/accent_bottom_wave_01.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 4em;
}

.footer{
    background-image: url(../img/footer_background.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 8em 0;  
    font-family: "Roboto", sans-serif;
}