.header{
    position: fixed;
    background-color: transparent;
    box-shadow: 0 0 10px 0 rgba(204,204,204,.5);
    width: -webkit-fill-available;
    z-index: 100;
}
.navbar,
.navbar-brand {
    padding: 0;
}
.nav-link {
    font-size: $fs-0;
}
.navbar-toggler {
    padding: 0 0.75rem 0 0;
}
.header__toggler{
    font-size:$fs-3 +5;
    &:hover{
        color: $color-purple-1;
        .fa-bars{
            transition: $ts-1;
            transform: scaleY(1.2);
        }
    }
}
.navbar-expand-lg .navbar-nav .nav-item {
    transition: $ts-1;
    &:hover::after {
        transform: scale(1.1);
    }
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: $fw-2;
    position: relative;
    transition: $ts-1;
}
.fa-twitter,.fa-facebook-f,.fa-instagram,.fa-youtube{
    padding: $pd-1 $pd-1*0.3;
    font-size: $fs-0 + 0.0625rem;
    color: $color-black-1;
    transition: $ts-1;
    &:hover {
        color: $color-purple-1;
    }
}
.header-scroll {
    background-color:$color-white-1;
    z-index: 100;
    animation: headerAnimation 0.5s ease;
    padding: 6px 0;
    box-shadow: 0 0 10px 0 #cccccc80;
    .header__logo {
        display: none;
    }
    .btn-purple {
        padding: 0.8em 1.5em;
    }
}

.header-animation {
    animation: headerAnimation 0.5s ease;
}
@keyframes headerAnimation {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

// //Reponsive
@media screen and(min-width:0) {
    .navbar {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .navbar-toggler {
        border: none;
    }
    .navbar-brand img {
        height: 3rem;
    }
    .nav-item a{
        color: $color-black-1;
        &:hover{
           color: $color-purple-1;
        }
    }
    .header__contact {
        padding-top: $pd-13;
    }
    .header__social-icon {
        padding-top: $pd-12;
    }
    .navbar-light .navbar-nav .nav-link:focus,
    .navbar-light .navbar-nav .nav-link:hover {
        color: $color-purple-1;
    }
}
@media screen and(min-width:1024px) {
    #header {
        margin: auto;  
    }
    .header__contact {
        display: flex;
    }
}
@media screen and(min-width:1200px) {
    .navbar {
        flex-direction: row;
    }
    .navbar-nav{
        align-items: center;
    }
    .navbar-brand img {
        height: 80px;
    }
    .nav-content{
        padding-right:$pd-9;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        color: $color-black-1;
        text-align: center;
        font-size:$fs-1 ;
    }
    .nav-item {
        width: 95px;
    }
    .nav-link {
        font-weight: $fw-2;
        position: relative;
    }
    .nav-link::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 5;
        background-color: $color-purple-1;
        height: 0.5rem;
        width: 0.5rem;
        left: 50%;
        border-radius: 50%;
        bottom: -4px;
        pointer-events: none;
        transform: scale(0);
        transition: $ts-1;
    }
    .active .nav-link::after {
        transform: scale(0);
    }
    .nav-item:hover {
        .nav-link::after {
            transform: scale(1.5);
        }
        .nav-link {
            color: $color-purple-1 !important;
        }
    }
    .header__contact {
        padding-top: 0;
        padding: left $pd-4;;
    }
    .header__social-icon {
        padding-top: 0;
    }
    .header__contact-cell {
        display: flex;
        align-items: center;
    }
    .header__phone {
        padding-right:$pd-1 +4;
    }
}